<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login Practice (Welcome)
		</title>
	</head>
	<body>
		<h1>Welcome</h1>
		<form action='/foo' method='post'>
			<label for="foo">foo<input type="submit" name="foo" value=""></label>
		</form>
		<form action='/bar' method='post'>
			<label for="bar">bar<input type="submit" name="bar" value=""></label>
		</form>
	</body>
</html>
